<div class="container">

    <div class="row align-items-start">

        <div class="col mt-5 mr-5">


            <p class="pt-2 pb-5"></p>

        <div class="border pb-80">
            <ul class="nav flex-column">

                <li class="nav-item">
                    <a class="nav-link active" href="/">Etusivu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Suosikit">Suosikit</a>
                </li>
            </ul>
        </div>
    </div>